@import 'tailwindcss';
@import 'tw-animate-css';

:root {
    --text-base: 18px;
    --text-lg: 24px;
    --text-xl: 32px;
    --text-2xl: 40px;
    --text-color: #000;
    --selection-color: rgba(200, 200, 200, 0.3);
    --link-color: #0072f5;
    --hr-gray: #e0e0e0;
}

.dark {
    --text-color: #c5c5c5;
    --link-color: #68b5fb;
    --selection-color: rgba(100, 100, 100, 0.4);
    --hr-gray: #2e2e2e;
}

@font-face {
    font-family: 'Geist';
    src: url('./assets/geist-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* TYPOGRAPHY STYLES */
:root {
    --font-family: 'Geist', sans-serif;
}

.editor-placeholder {
    @apply text-gray-500 absolute top-0 left-0 -z-10;
}

p {
    @apply mb-3;
}

h1,
h2,
h3 {
    @apply mb-3;
}

span,
em,
strong,
a,
p,
h1,
h2,
h3 {
    --text-color: #000;
    font-family: var(--font-family);
    color: var(--text-color);
}

.dark strong,
.dark h1,
.dark h2,
.dark h3,
.dark span,
.dark em,
.dark a {
    --text-color: #fff;
}

em,
strong,
span {
    @apply text-base;
}

.block-h1 span,
.block-h1 strong {
    @apply text-2xl font-semibold;
}

.block-h2 span,
.block-h2 strong {
    @apply text-xl font-semibold;
}

.block-h3 span,
.block-h3 strong {
    @apply text-lg font-semibold;
}

.list-ul {
    @apply list-disc ml-6 my-2 text-base;
}

.list-ol {
    @apply list-decimal ml-6 my-2 text-base;
}

.list-item {
    @apply mb-1 text-[var(--text-color)];
}

.nested-list-item {
    @apply ml-4;
}

.list-ul .list-ul,
.list-ol .list-ol,
.list-ul .list-ol,
.list-ol .list-ul {
    @apply my-1 ml-4;
    counter-reset: item;
}

.list-ul {
    @apply list-disc;
}

.list-ol {
    @apply list-decimal;
    counter-reset: item;
}

.list-ul .nested-list-item {
    @apply list-[circle];
}

.list-ol .nested-list-item,
.list-ol .nested-list-item .list-ol .nested-list-item,
.list-ul .nested-list-item,
.list-ul .nested-list-item .list-ul .nested-list-item {
    @apply list-none;
}

.list-ol .nested-list-item .list-ol {
    @apply list-[upper-alpha];
}

.list-ol .nested-list-item .list-ol .nested-list-item .list-ol {
    @apply list-[lower-alpha];
}

.list-item .list-item:last-child {
    @apply mb-0;
}


.list-ul:has(.list-item[role="checkbox"]) {
    margin-left: 2px;
}
.list-item[role="checkbox"] {
    @apply flex items-center p-0 m-0 cursor-pointer ring-0 focus:ring-0 outline-none focus:outline-none;
}

.list-item[aria-checked="true"] {
    @apply text-blue-900;
}

.list-item[role="checkbox"]::before {
    @apply content-[''] w-5 h-5 border-2 mr-2 rounded-sm border-gray-300 pr-0 flex-shrink-0;
}

.list-item[aria-checked="true"]::before {
    @apply bg-blue-500 border-blue-500;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m13.854 3.646-7.5 7.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6 10.293l7.146-7.147a.5.5 0 0 1 .708.708z'/%3e%3c/svg%3e");
}


.horizontal-rule {
    @apply my-6 border-t border-[var(--hr-gray)];
}

.text-link span {
    @apply text-[var(--link-color)] underline;
}

.block-quote {
    @apply border-l-3 border-gray-300 pl-4 py-2 text-gray-500;
}

.editor-block {
    outline: none !important;
    outline-width: 0 !important;
    outline-style: none !important;
    outline-color: transparent !important;
    box-shadow: none !important;
}

/* Add selection styling */
::selection {
    background-color: var(--selection-color);
}